@import "tailwindcss";

@layer {
    #item {
        @apply m-6;
        font-size: var(--text-base);
    }

    .underline-animation {
        @apply relative;
    }

    .underline-animation::after {
        @apply absolute content-[''] w-full h-0.5 left-0 bottom-[-4px] bg-(--color-green);
        transform: scaleX(0);
        transition: transform 0.3s ease-in-out;
    }

    .underline-animation:hover::after {
        transform: scaleX(1);
    }
}