@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap');
@import "tailwindcss";

@theme {
    --font-arimo: 'Arimo', 'sans-serif';

    --color-green: #1c3f3a;
    --color-green-hover: #1c3f3a;
    --color-green-title: #022f30;
    --color-green-light: #e0e9e9;
    --color-beige: #ebe9da;
    --color-blue: #0a0c29;
}

@layer {
    button:hover {
        background-color: #1d5048
    }

    #miniTitle {
        color: var(--color-green-800);
        font-weight: var(--font-weight-semibold);
    }

    #title {
        font-size: var(--text-6xl);
        line-height: var(--tw-leading, var(--text-6xl--line-height));
        margin-top: calc(var(--spacing) * 4);
        font-weight: var(--font-weight-semibold)
    }

    #description {
        font-size: var(--text-xl);
        color: var(--color-gray-500);
        margin-top: calc(var(--spacing) * 8);
    }

    #greenButton { 
        background-color: var(--color-green);
        color: var(--color-white);
        padding: calc(var(--spacing) * 3);
        padding-inline: calc(var(--spacing) * 6);
        border-radius: var(--radius-3xl);
        cursor: pointer
    }
}